@font-face {
    font-family: 'Poppins';
    src: url('../../../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../../../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../../../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    background-color: #F3F6F8;
}
/* Menu Lateral */
.menu-lateral {
    width: 250px;
    background-color: #0057FF;
    color: #fff;
    height: 100vh;
    position: fixed;  /* Usando fixed para sobrepor ao conteúdo */
    top: 0;
    left: -250px; /* Inicialmente escondido */
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 2; /* Garantir que o menu fique acima do conteúdo */
}

.menu-lateral-exibido {
    left: 0; /* Quando exibido, ocupa o lado esquerdo */
}

.home {
    padding: 20px;
    transition: margin-left 0.3s ease-in-out; /* A transição para o conteúdo principal */
    margin-left: 0; /* Nenhum deslocamento inicial */
    z-index: 1; /* O conteúdo fica atrás do menu */
}

.menu-lateral ul {
    list-style: none;
    padding-left: 0;
}

.menu-lateral ul li {
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-color: #0057FF;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #0057FF;
    padding: 8px;
    
}

.menu-lateral ul li a:hover {
    background-color: #0057FF;
}

/* Estilização do conteúdo principal */


.home.menu-lateral-aberto {
    margin-left: 250px; /* Quando o menu abrir, a área do conteúdo se move */
}

/* Menu Superior */
.menu-superior {
    width: 100%;
    height: 55px;
    background-color: #0057FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 0 0 6px 6px;
}



.nome-sistema{
    color: #fff;
    background-color: #0057FF;
    display: flex;
}
.nome-sistema h4{
    margin-left: 10px;
    background-color: #0057FF;
    font-family: 'Poppins', sans-serif;
}
.nome-sistema img{
    margin-left: 30px;
}
#logout-png, #user-png, #menu-png{
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #0057FF;
    margin-right: 15px;
}
.btn-info{
    margin-right: 20px;
    background-color: #0057FF;
    display: flex;
}
.btn-info p{
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    background-color: #0057FF;
    color: #fff;
}
.formulario, .menu-intermediario, .botoes-acao{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}
form{
    margin-left: 30px;
}
.form-superior{
    display: flex;
}
input, select{
    padding: 12px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #999;
    background-color: #fff;
    color: #222;
    font-family: 'Poppins', sans-serif;
}
#btn-voltar{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: 1px solid #0057FF;
    background-color: #0057FF;
    transition: .6s;
    font-weight: bold;
}
.lateral{
    margin-left: 20px;
}
.cargo{
    margin-left: 35px;
}
#botao-editar{
    cursor: pointer;
    color: #fff;
    outline: none;  
    border: 1px solid #145472;
    background-color: #145472;
    transition: .6s;
    font-weight: bold;
}
#botao-editar:hover{
    border: 1px solid #236888;
    background-color: #236888;
}
#btn-voltar:hover{
    border: 1px solid #e6823b;
    background-color: #e6823b;
}
#id-registro{
    color: red;
}