@font-face {
    font-family: 'Poppins';
    src: url('../../../../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../../../../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('../../../../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    background-color: #F3F6F8;
    font-family: 'Poppins', sans-serif;
}
/* Menu Lateral */
.menu-lateral {
    width: 250px;
    background-color: #0057FF;
    color: #fff;
    height: 100vh;
    position: fixed;  /* Usando fixed para sobrepor ao conteúdo */
    top: 0;
    left: -250px; /* Inicialmente escondido */
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 2; /* Garantir que o menu fique acima do conteúdo */
}

.menu-lateral-exibido {
    left: 0; /* Quando exibido, ocupa o lado esquerdo */
}

.home {
    padding: 20px;
    transition: margin-left 0.3s ease-in-out; /* A transição para o conteúdo principal */
    margin-left: 0; /* Nenhum deslocamento inicial */
    z-index: 1; /* O conteúdo fica atrás do menu */
}

.menu-lateral ul {
    list-style: none;
    padding-left: 0;
}

.menu-lateral ul li {
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-color: #0057FF;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #0057FF;
    padding: 8px;
    
}

.menu-lateral ul li a:hover {
    background-color: #0057FF;
}

/* Estilização do conteúdo principal */


.home.menu-lateral-aberto {
    margin-left: 250px; /* Quando o menu abrir, a área do conteúdo se move */
}

/* Menu Superior */
.menu-superior {
    width: 100%;
    height: 55px;
    background-color: #0057FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 0 0 6px 6px;
}



.nome-sistema{
    color: #fff;
    background-color: #0057FF;
    display: flex;
}
.nome-sistema h4{
    margin-left: 10px;
    background-color: #0057FF;
    font-family: 'Poppins', sans-serif;
}
.nome-sistema img{
    margin-left: 30px;
}
#logout-png, #user-png, #menu-png{
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #0057FF;
    margin-right: 15px;
}
.btn-info{
    margin-right: 20px;
    background-color: #0057FF;
    display: flex;
}
.btn-info p{
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    background-color: #0057FF;
    color: #fff;
}



.card-center{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.btn-dash{
    margin-top: 40px;
    width: 15%;
    height: 100%;
    background-color: #0057FF;
    border-radius: 10px;
}
.btn-dash input{
    background-color: #0057FF;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width:100%;
    padding: 15px;
    
    cursor: pointer;
    transition: .6s;
}
.btn-dash input:hover{
    background-color: #0057FF;
}
.top-btn-dash{
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #0057FF;
}
.top-btn-dash input{
    border: none;
}
.dashboards{
    margin-top:40px;
    width: 82%;
    border-radius: 10px;
}
.three-top-cards-dash{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-cards-dash{
    width: 33%;
    height: 200px;
    background-color: #0057FF;
    border-radius: 20px;
    color: #fff;
}



.container-graficos {
  margin-top: 40px;
  width: 82%;
  margin-left: 20px;
  gap: 20px;
}
.conteudo-top{
    background-color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    z-index: 1;
}

.valor-total-estoque {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 42%;
    height: 150px;
    background-color: #0057FF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  
}
.title1 h2{
    background-color: #0057FF;
    color: white;
}
.title2 h2{
    background-color:white;
    color: #0057FF;
}
.title3 h2{
    background-color: white;
    color: #9E1515;
}

.quantidades-vendidos {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 42%;
    height: 150px;
    background-color: white;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.filtros-produtos{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content:end;
    border-radius: 6px;
}
.card-input select{
    width: 300px;
    padding: 10px;
    border: 1px solid #0057FF;
    border-radius: 6px;
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
}
.vinte-mais-transicoes{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 42%;
    height: 250px;
    background-color: white;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card-select-produto{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 250px;
    background-color: white;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.valores1{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0057FF;
    color: white;
    font-size: 25px;
}
.valores2{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #0057FF;
    font-size: 25px;
}
#searchInput {
    width: 385px;
    padding: 10px;
    border: #0057FF 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    z-index: 2;
}

.nome-produto {
    position: relative;  /* Essencial para o dropdown se posicionar em relação a ele */
}
.nome-produto label{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
#searchInput {
    width: 385px;
    padding: 10px;
    border: #0057FF 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    z-index: 1;
}

.nome-produto {
    position: relative;  /* Essencial para o dropdown se posicionar em relação a ele */
}

.dropdown-content {
    display: none;
    position: absolute;  /* Para se posicionar em relação ao .nome-produto */
    top: 100%;  /* Posicionar logo abaixo do input */
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    z-index: 1;  /* Garantir que o dropdown fique acima de outros elementos */
}
.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #0057FF;
    color: #fff;
}

.show {
    display: block;
}
.inputs-intermediario{
    margin-bottom: 30px;
}