@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    background-color: #F3F6F8;
}
/* Menu Lateral */
.menu-lateral {
    width: 250px;
    background-color: #CA6924;
    color: #fff;
    height: 100vh;
    position: fixed;  /* Usando fixed para sobrepor ao conteúdo */
    top: 0;
    left: -250px; /* Inicialmente escondido */
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 2; /* Garantir que o menu fique acima do conteúdo */
}

.menu-lateral-exibido {
    left: 0; /* Quando exibido, ocupa o lado esquerdo */
}

.home {
    padding: 20px;
    transition: margin-left 0.3s ease-in-out; /* A transição para o conteúdo principal */
    margin-left: 0; /* Nenhum deslocamento inicial */
    z-index: 1; /* O conteúdo fica atrás do menu */
}

.menu-lateral ul {
    list-style: none;
    padding-left: 0;
}

.menu-lateral ul li {
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-color: #CA6924;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #CA6924;
    padding: 8px;
    
}

.menu-lateral ul li a:hover {
    background-color: #b96225;
}

/* Estilização do conteúdo principal */


.home.menu-lateral-aberto {
    margin-left: 250px; /* Quando o menu abrir, a área do conteúdo se move */
}

/* Menu Superior */
.menu-superior {
    width: 100%;
    height: 55px;
    background-color: #CA6924;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 0 0 6px 6px;
}



.nome-sistema{
    color: #fff;
    background-color: #CA6924;
    display: flex;
}
.nome-sistema h4{
    margin-left: 10px;
    background-color: #CA6924;
    font-family: 'Poppins', sans-serif;
}
.nome-sistema img{
    margin-left: 30px;
}
#logout-png, #user-png, #menu-png{
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #CA6924;
    margin-right: 15px;
}
.btn-info{
    margin-right: 20px;
    background-color: #CA6924;
    display: flex;
}
.btn-info p{
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    background-color: #CA6924;
    color: #fff;
}
#btn-voltar{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: 1px solid #ca6924;
    background-color: #CA6924;
    transition: .6s;
    font-weight: bold;
}


.card-center{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.btn-dash{
    margin-top: 40px;
    width: 15%;
    height: 100%;
    background-color: #ca6924;
    border-radius: 10px;
}
.btn-dash input{
    background-color: #ca6924;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width:100%;
    padding: 15px;
    
    cursor: pointer;
    transition: .6s;
}
.btn-dash input:hover{
    background-color: #b96225;
}
.top-btn-dash{
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #ca6924;
}
.top-btn-dash input{
    border: none;
}
.dashboards{
    margin-top:40px;
    width: 82%;
    border-radius: 10px;
}
.three-top-cards-dash{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-cards-dash{
    width: 33%;
    height: 200px;
    background-color: #CA6924;
    border-radius: 20px;
    color: #fff;
}
#compras-png{
    background-color: #CA6924;
    width: 60px;
    height: 60px;
}
.block-png{
    margin-top: 20px;
    margin-left:30px;
    background-color: #CA6924;
    display: flex;
    justify-content: start;
}
.block-info{
    margin-top: 10px;
    margin-left: 30px;
    background-color: #CA6924;
    
}
.block-info p{
    margin-top: 8px;
    background-color: #CA6924;
    font-family: 'Poppins', sans-serif;
}
#total-vendas, #total-faturamento, #quantidade-vendas{
    font-weight: bold;
    font-size: 24px;
}
.title-dash{
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}
.card-table{
    margin-top: 10px;
    width: 100%;
    height: 250px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    border: rgb(212, 212, 212) solid 1px;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
thead{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f3f3f3;
    font-weight: bold;
    color: #CA6924;
}